<link rel="stylesheet" type="text/css" href="/css/default.css">

<p>
Рано или поздно любой может столкнуться с проблемой решения квартирного вопроса. На первый взгляд, может казаться, что улучшить свои жилищные условия достаточно просто. Однако уже скоро, покупатель, переоценивший свои силы, сталкивается с различными нюансами при совершении таких операций на рынке жилья, как обмен, покупка, продажа недвижимости.
</p>

<p>
Каждому клиенту компании «НДВ-Недвижимость» предоставляется поддержка личного риэлтора. Сотрудничество с агентством «НДВ-Недвижимость» строится по проверенному и многократно оправдавшему себя механизму: весь процесс покупки квартиры в Москве, начиная с момента поиска подходящего варианта по базе недвижимости и заканчивая оформлением права собственности на купленную квартиру, контролирует один специалист.

Штат компании «НДВ-Недвижимость» укомплектован опытными юристами и экспертами в области ипотечного кредитования. У наших клиентов нет необходимости обращаться за консультациями в сторонние компании: все вопросы, связанные с покупкой квартиры, решают специалисты агентства «НДВ-Недвижимость».
</p>

<section class="office-preview toggler">
	<h2 class="office-preview__header">Заголовок про офис продаж <b class="toggler__link toggler__link_text"></b></h2>

	<div class="office-preview__content toggler__content">
		<div class="flex-row">
			<a href="#office" class="flex-column col1of3">
				<div class="preview-block preview-block_small" style="background-image: url(/pic/design/2_1.jpg)">
					<span class="preview-block__header">Офисы продаж</span>
				</div>
			</a>
			<a href="#interior" class="flex-column col1of3">
				<div class="preview-block preview-block_small" style="background-image: url(/pic/design/2_2.jpg)">
					<span class="preview-block__header">Интерьеры в офисах продаж</span>
				</div>
			</a>
			<a href="#showroom" class="flex-column col1of3">
				<div class="preview-block preview-block_small" style="background-image: url(/pic/design/2_3.jpg)">
					<span class="preview-block__header">Шоу-рум</span>
				</div>
			</a>
		</div>

		<div id="office" class="office-category toggler">
			<h3 class="office-category__header">Офисы продаж <b class="toggler__link toggler__link_text"></b></h3>

			<div class="office-category__content toggler__content">
				<p>
				Обширная база недвижимости с подробным описанием и фото каждого объекта дает покупателю возможность быстро просмотреть множество вариантов и, следовательно, существенно сократить время на поиск подходящей квартиры в Москве или Подмосковье.
				Отработанные на многолетней практике технологии проведения сделок позволяют на самых выгодных для покупателя условиях и предельно сжатые сроки заключить договор купли-продажи.
				</p>

				<div class="flex-row">
					<a href='#office-1' class="flex-column col1of2">
						<div class="preview-block" style="background-image: url(/pic/design/1.jpg)">
							<span class="preview-block__header">Офис продаж на объекте</span>
						</div>
					</a>
					<a href='#office-2' class="flex-column col1of2">
						<div class="preview-block" style="background-image: url(/pic/design/2.jpg)">
							<span class="preview-block__header">Офис продаж в готовых домах</span>
						</div>
					</a>
				</div>

				<div class="office-table toggler">
					<h4 id="office-1" class="office-table__header"><span>Офисы продаж на объектах</span> <b class="toggler__link toggler__link_grey"></b></h4>

					<div class="office-table__list toggler__content">
						<div class="office-table__item">
							@@include('./office.html')
						</div>
						<div class="office-table__item">
							@@include('./office.html')
						</div>
						<div class="office-table__item">
							@@include('./office.html')
						</div>
						<div class="office-table__item">
							@@include('./office.html')
						</div>
					</div>
				</div>

				<div class="office-table toggler">
					<h4 id="office-2" class="office-table__header"><span>Офисы продаж в готовых домах</span> <b class="toggler__link toggler__link_grey"></b></h4>

					<div class="office-table__list toggler__content">
						<div class="office-table__item">
							@@include('./office.html')
						</div>
						<div class="office-table__item">
							@@include('./office.html')
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="interior" class="office-category toggler">
			<h3 class="office-category__header">Интерьеры офисов продаж <b class="toggler__link toggler__link_text"></b></h3>

			<div class="office-category__content toggler__content">
				<p>Наши клиенты избавлены от необходимости тратить время на бюрократические проволочки, а поддержка опытных юристов компании «НДВ-Недвижимость» позволяет минимизировать риски, связанные с оформлением права собственности на недвижимость. Кроме того, агентство «НДВ-Недвижимость» совместно с РОСНО разработала программу страхования имущественных интересов покупателей, приобретающих квартиры, как на первичном, так и на вторичном рынке.</p>

				<p>Сотрудничество с крупнейшими банками означает, что наши клиенты могут получить кредит на недвижимость на самых выгодных условиях.</p>

				<div class="office-table toggler">
					<h4 class="office-table__header"><span>Пример №1: офис продаж ЖК Метриум</span> <b class="toggler__link toggler__link_grey"></b></h4>

					<ul class="office-table__grid toggler__content">
						<li><a href="http://media.ndv.ru/pic/base_zhilaja/26996-mprev.jpg"><img src="http://media.ndv.ru/pic/base_zhilaja/26996-mprev.jpg" width="300"></a></li>
						<li><a href="http://media.ndv.ru/pic/base_zhilaja/26996-mprev.jpg"><img src="http://media.ndv.ru/pic/base_zhilaja/26996-mprev.jpg" width="300"></a></li>
						<li><a href="http://media.ndv.ru/pic/base_zhilaja/26996-mprev.jpg"><img src="http://media.ndv.ru/pic/base_zhilaja/26996-mprev.jpg" width="300"></a></li>
						<li><a href="http://media.ndv.ru/pic/base_zhilaja/26996-mprev.jpg"><img src="http://media.ndv.ru/pic/base_zhilaja/26996-mprev.jpg" width="300"></a></li>
						<li><a href="http://media.ndv.ru/pic/base_zhilaja/26996-mprev.jpg"><img src="http://media.ndv.ru/pic/base_zhilaja/26996-mprev.jpg" width="300"></a></li>
						<li></li>
					</ul>
				</div>
			</div>
		</div>

		<div id="showroom" class="office-category toggler">
			<h3 class="office-category__header">Шоу-рум <b class="toggler__link toggler__link_text"></b></h3>

			<div class="office-category__content toggler__content">
				<p>Наши клиенты избавлены от необходимости тратить время на бюрократические проволочки, а поддержка опытных юристов компании «НДВ-Недвижимость» позволяет минимизировать риски, связанные с оформлением права собственности на недвижимость. Кроме того, агентство «НДВ-Недвижимость» совместно с РОСНО разработала программу страхования имущественных интересов покупателей, приобретающих квартиры, как на первичном, так и на вторичном рынке.</p>

				<p>Сотрудничество с крупнейшими банками означает, что наши клиенты могут получить кредит на недвижимость на самых выгодных условиях.</p>

				<ul class="office-table__grid toggler__content">
					<li><a href="http://media.ndv.ru/pic/base_zhilaja/26996-mprev.jpg"><img src="http://media.ndv.ru/pic/base_zhilaja/26996-mprev.jpg" width="300"></a></li>
					<li><a href="http://media.ndv.ru/pic/base_zhilaja/26996-mprev.jpg"><img src="http://media.ndv.ru/pic/base_zhilaja/26996-mprev.jpg" width="300"></a></li>
					<li><a href="http://media.ndv.ru/pic/base_zhilaja/26996-mprev.jpg"><img src="http://media.ndv.ru/pic/base_zhilaja/26996-mprev.jpg" width="300"></a></li>
					<li><a href="http://media.ndv.ru/pic/base_zhilaja/26996-mprev.jpg"><img src="http://media.ndv.ru/pic/base_zhilaja/26996-mprev.jpg" width="300"></a></li>
					<li><a href="http://media.ndv.ru/pic/base_zhilaja/26996-mprev.jpg"><img src="http://media.ndv.ru/pic/base_zhilaja/26996-mprev.jpg" width="300"></a></li>
					<li></li>
				</ul>
			</div>
		</div>

	</div>
</section>

<h2>«НДВ-Недвижимость»: ваш надежный эксперт</h2>

<p>Каталог новостроек содержит информацию о ценах, расположении, значимых преимуществах объекта, также регулярно обновляются разделы с фотографиями места строительства. При продаже квартир в новостройках на старте продаж важно проинформировать покупателя о документах, подтверждающих законность стройки, поэтому на сайте вы можете ознакомиться с разрешениями на строительство, проектными декларациями на каждый объект.</p>

<p>Специалисты агентства «НДВ-Недвижимость» формируют и поддерживают обширную базу предложений о продаже квартир, в которой находятся сведения о новостройках Москвы и Подмосковья. Мы советуем обратить внимание на жилье в Подмосковье тем, кто хочет купить квартиру в новостройке от застройщика недорого, хочет увеличить площадь своей недвижимости. Известно, что найти квартиру в столице даже на начале продаж, имея бюджет в 2-3 миллиона рублей - практически невыполнимая задача. А в ближнем Подмосковье за ту же сумму всегда можно найти достойное и комфортное жилье. Каталог новостроек на нашем сайте поможет вам выбрать недвижимость за пределами столицы.</p>

<div class="map-popup_hidden">
	<div id="map-popup" class="map-popup"></div>
</div>

<script src="/jscripts/office-app.js"></script>
