<!-- start .office -->
<div class="office">
	<h6 class="office__header">Офис продаж ЖК Красногорский</h6>
	<div class="office__content">
		<div class="office__slider">
			@@include('./slider.html')
		</div>
		<div class="office__meta">
			<ul>
				<li><b>Шоссе:</b> Новорижское, Волоколамское</li>
				<li><b>Ближайшее метро:</b> Тушинская, Мякинино</li>
				<li>Адрес: ул. Котельническая <br><a class="link-map" data-address="Москва, Кутузовский пр-т, д.18" href="#map-popup" rel="map-box">На карте</a></li>
				<li>Телефон +7 (495) 988-44-22</li>
				<li>Время работы: 09:00 - 20:00 / ежедневно</li>
				<li>Общая площадь <b>120 м</b></li>
				<li>Переговорные <b>7 шт</b></li>
				<li>Рабочих менеджеров <b>2 чел</b></li>
				<li>Шоу рум <b>2 комнаты</b></li>
			</ul>
		</div>
	</div>
</div>
<!-- end .office -->
