<!--- start .slider -->
<div class="slider">
	<div class="slider__image">
		<a href="http://media.ndv.ru/pic/base_arenda/22934_raw.jpg">
			<img src="http://media.ndv.ru/pic/base_arenda/22934/141559-mprev.jpg" alt="">
		</a>
	</div>

	<div class="slider__thumbs_wrap">
		<div class="slider__thumbs">
			<ul>
				<li><a href="http://media.ndv.ru/pic/base_arenda/22934_raw.jpg"><img src="http://media.ndv.ru/pic/base_arenda/22934/141559-mprev.jpg" width="90" height="70" alt=""></a></li>
				<li><a href="http://media.ndv.ru/pic/base_arenda/22934_raw.jpg"><img src="http://media.ndv.ru/pic/base_arenda/22934/141559-mprev.jpg" width="90" height="70" alt=""></a></li>
				<li><a href="http://media.ndv.ru/pic/base_arenda/22934_raw.jpg"><img src="http://media.ndv.ru/pic/base_arenda/22934/141559-mprev.jpg" width="90" height="70" alt=""></a></li>
				<li><a href="http://media.ndv.ru/pic/base_arenda/22934_raw.jpg"><img src="http://media.ndv.ru/pic/base_arenda/22934/141559-mprev.jpg" width="90" height="70" alt=""></a></li>
				<li><a href="http://media.ndv.ru/pic/base_arenda/22934_raw.jpg"><img src="http://media.ndv.ru/pic/base_arenda/22934/141559-mprev.jpg" width="90" height="70" alt=""></a></li>
			</ul>
		</div>
		<div class="next"></div>
		<div class="prev"></div>
	</div>

</div>
<!--- end .slider -->
